/* TÍTULO PRINCIPAL */
h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  font-weight: bold;
}

/* SUBTÍTULOS */
h2 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
}

/* PÁRRAFOS (reto del PDF) */
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}
